*{
    overflow: hidden;
}
*::-webkit-scrollbar{
    display: none;
}
canvas{
    margin: 0;
    padding: 0;
    position: absolute;
    scroll-behavior: smooth;
    touch-action: none;
    width: calc(100% - 2px); /* for borders */
    height: calc(100% - 2px); /* for borders */
    border: 1px dashed;
    top:0;
    left:0;
    z-index : -1;
    background: #080e18;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: gray;
}
.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
div.container{
    scroll-snap-align: start;
    color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
div.container{
    background: transparent;
}
div.container h1{
    margin: 20px;
    margin-top: 15px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 4em;
    word-break: break-all;
}
div.toolbar{
    background: blue;
    
    margin-left: 100vw;
    margin-right: 100vw;
    margin-top: 12vh;
}
h1{
    font-family: arial, serif;
    font-size: 6em;
}
